<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/util
   		   http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="musicClassicBean" class="ru.home.chernyadieva.music.ClassicMusic">
    </bean>

    <bean id="musicRockBean" class="ru.home.chernyadieva.music.RockMusic">
    </bean>

    <bean id="musicJazzBean" class="ru.home.chernyadieva.music.JazzMusic">
    </bean>

    <bean id="musicPlayer" class="ru.home.chernyadieva.music.player.MusicPlayer">
        <property name="musicList">
            <list>
                <ref bean="musicClassicBean"/>
                <ref bean="musicRockBean"/>
                <ref bean="musicJazzBean"/>
            </list>
        </property>
    </bean>
</beans>